::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ecedef;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #6564d7;
  border-radius: 5px;
}

.data-tr:hover {
  background-color: #6564d7;
  color: white;
  cursor: pointer;
}
@media (min-width: 768px) {
  .dsr-div {
    flex-direction: row;
  }

  .add-dsr-div {
    flex: 1;
  }
}

@media (max-width: 767px) {
  .dsr-div {
    flex-direction: column;
  }
}
