<div class="grid h-[35vh] px-6 py-8 bg-white lg:grid-cols-3 rounded-theme overflow-hidden">
  <div class="flex flex-col col-span-2 gap-5">
    <div class="border-b-2 border-b-primary">
      <h2 class="text-2xl">Annoucement:</h2>
    </div>
    <div>
      <p class="md:text-sm">
        Hi team, We are thrilled to announce that our company has been awarded
        for being the fastest growing company! Let's continue this journey
        together towards even greater success! Thank you for your outstanding
        contributions.
      </p>
    </div>
  </div>
  <div class="justify-center hidden max-h-full col-span-1 lg:flex">
    <img class="h-52" src="/assets/images/annoucements.png" alt="" />
  </div>
</div>
