<mat-dialog-content class="h-full bg-background_sec m-20">
  <section class="md:mx-20">
    <div class="flex flex-col gap-5 mt-5">
      <div class="flex justify-center gap-2">
        <img
          class="object-contain w-14 aspect-square"
          src="/assets/icons/dd-icon.svg"
          alt=""
        />
        <h2 class="flex flex-col text-2xl font-extrabold uppercase text-primary">
          <span>Daily</span><span>Dynamo</span>
        </h2>
      </div>
      <div class="flex flex-col gap-2">
        <div class="responsive flex justify-between mt-5">
          <div class="">
            <h6>Password Criteria</h6>
            <div class="flex-col mt-2">
                <ul class="text-xs">
                    <li>
                        <div class="flex items-center gap-1">
                            <mat-icon [color]="isPasswordLengthValid ? 'primary' : 'warn'" class="check-mat-icon">check_circle</mat-icon>
                            <span>Password length should be between 8 to 32 characters.</span>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center gap-1">
                            <mat-icon [color]="isUpperCaseValid ? 'primary' : 'warn'" class="check-mat-icon">check_circle</mat-icon>
                            <span>Include at least one uppercase letter.</span>
                        </div>
                    </li>
                    <li>
                      <div class="flex items-center gap-1">
                          <mat-icon [color]="isLowerCaseValid ? 'primary' : 'warn'" class="check-mat-icon">check_circle</mat-icon>
                          <span>Include at least one lowercase letter.</span>
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center gap-1">
                          <mat-icon [color]="isNumberValid ? 'primary' : 'warn'" class="check-mat-icon">check_circle</mat-icon>
                          <span>Include at least one numeral.</span>
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center gap-1">
                          <mat-icon [color]="isSpecialCharValid ? 'primary' : 'warn'" class="check-mat-icon">check_circle</mat-icon>
                          <span>Include at least one special character.</span>
                      </div>
                    </li>
                    <li>
                      <div class="flex items-center gap-1">
                          <mat-icon [color]="isPasswordMatchValid ? 'primary' : 'warn'" class="check-mat-icon">check_circle</mat-icon>
                          <span>Password field must match with the Confirm password field.</span>
                      </div>
                    </li>
                </ul>
            </div>
          </div>
          <div class="">
            <form
            class="flex flex-col gap-4"
            (ngSubmit)="addpassword()"
            [formGroup]="form"
            >
              <div class="">
            <mat-form-field class="w-48">
                <mat-label>New Password:</mat-label>
                <input matInput type="password" formControlName="newPassword" (input)="newPasswordValidity()"/>
                <mat-error *ngIf="controls.newPassword.errors">
                    <small *ngIf="controls.newPassword.errors['required']">
                        New Password is required.
                      </small>
                </mat-error>
              </mat-form-field>
              </div>
              <div class="">
            <mat-form-field class="w-48">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  [errorStateMatcher]="matcher"
                  type="password"
                  formControlName="confirmPassword"
                  (input)="confirmPasswordValidity()"
                />
                <mat-error *ngIf="controls.confirmPassword.errors">
                  <small *ngIf="controls.confirmPassword.errors['required']">
                      Confirm Password is required.
                    </small>
                </mat-error>
              </mat-form-field>
              </div>
              <div class="flex flex-col mt-2">
                <button class="shadow-lg" mat-raised-button color="primary">
                  Save Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </section>
</mat-dialog-content>
