<div class="px-5 py-10 sm:p-10 lg:p-16 bg-background_sec">
  <div class="flex flex-col gap-10">
    <div class="flex justify-center gap-2">
      <img
        class="object-contain w-14 aspect-square"
        src="/assets/icons/dd-icon.svg"
        alt=""
      />
      <h2 class="flex flex-col text-2xl font-extrabold uppercase text-primary">
        <span>Daily</span><span>Dynamo</span>
      </h2>
    </div>
    <div class="flex flex-col gap-2">
      <ng-content></ng-content>
    </div>
  </div>
</div>
