section {
  @media (screen(sm)) {
    div.grid.my-grid {
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }
  }
  @media (screen(md)) {
    div.grid.my-grid {
      grid-template-rows: 30% 20% auto;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
