<mat-dialog-content class="h-full bg-background_sec">
  <section class="md:mx-20">
    <dd-auth-form class="">
      <form
        class="flex flex-col gap-4"
        (ngSubmit)="sendResetLink()"
        [formGroup]="form"
      >
        <mat-form-field>
          <mat-label>Email Id:</mat-label>
          <input formControlName="email" matInput type="text" />
          <mat-error *ngIf="form.controls.email.errors">
            <small
              *ngIf="
                !form.controls.email.errors['required'] &&
                form.controls.email.errors['email']
              "
              >Email is invalid</small
            >
            <small *ngIf="form.controls.email.errors['required']"
              >Email is requried</small
            >
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Send reset link!</button>
      </form>
    </dd-auth-form>
  </section>
</mat-dialog-content>
